{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
    <style>
      .pagination-page-info {
        padding: .6em;
        padding-left: 0;
        width: 40em;
        margin: .5em;
        margin-left: 0;
        font-size: 12px;
      }
      .pagination-page-info b {
        color: black;
        background: #6aa6ed;
        padding-left: 2px;
        padding: .1em .25em;
        font-size: 150%;
      }
    </style>
{% endblock %}

{% block content %}
  {% block flashed %}
  <div class="container">
  {% for message in get_flashed_messages() %}
    {% if message.lower().startswith('failed') %}
    <div class="alert alert-danger">
    {% elif message.lower().startswith('success') %}
    <div class="alert alert-success">
    {% else %}
    <div class="alert alert-warning">
    {% endif %}
    <button class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endblock %}
{% endblock %}