<HTML>
  <head>
    <style>
      .pagination-page-info {
        padding: .6em;
        padding-left: 0;
        width: 40em;
        margin: .5em;
        margin-left: 0;
        font-size: 12px;
      }
      .pagination-page-info b {
        color: black;
        background: #6aa6ed;
        padding-left: 2px;
        padding: .1em .25em;
        font-size: 150%;
      }
    </style>
  </head>
    <body>
        <h2>Search users</h2>
        <p>
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.name.label }}<br>{{ form.name(size=30) }}
            <p>
              {{ form.submit() }}<br><h5>Search name</h5>
            </p>
          </form>
        </p>
        <h2>User info</h2>
        {{ pagination.info }}
        {{ pagination.links }}
        <p>
        {{ user_list|safe }}
        </p>
        {{ pagination.links }}
    </body>
</HTML>