{% extends "base.html" %}

{% block title %}IGFTools - Home{% endblock %}

{% block head %}
{{ super() }}
<script>
    $(document).ready(function () {
      $(".nav li").removeClass("active");
      $('#home_nav').addClass('active');
    });
  </script>
{% endblock %}


{% block body %}
{{ super() }}
<div class="container-fluid">
  <h1>IGF LIMS</h1>
  <div class="container-fluid">
    <h4>List of available options</h4>
    <ul>
      <li><a href="/quotes">Quotes:</a> Quotes for IGF team.</li>
      <li><a href="/users">Users:</a> User list.</li>
      <li><a href="/projects">Projects:</a> Project list.</li>
      <li><a href="/runs">Runs:</a> Run list.</li>
    </ul>
  </div>
</div>
{% endblock %}